@font-face {
    font-family: "Tomcat";
    src: url("../fonts//TOMCAT.otf");
}

.navbar-brand {
    font-size: 150%;
}

.navbar-brand span {
    font-family: "Tomcat";
}

navbar {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
}