html, body {
    height: 100%;
    background: rgb(225, 225, 225);
}

img {
    border-radius: 0.5em;
}

.spacing-top {
    margin-top: .5em;
}

#content .box {
    margin-left: 2.5%;
    width: 95%;
}

.box {
    margin-top: 1em;
}

.button {
    height: 5%;
    margin-top: 5%;
}


#profileInfo {
    position: absolute;
    left: 0;
    display: inline-block;
    height: calc(100% - 3.25rem);
    width: 25%;
    background: #1b88d1;
    border-right: 1em solid #0377c5;
    text-align: center;
}

#profileBlue {
    background: #1b88d1;
    border-right: 1em solid #0377c5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    width: 25%;
}

#profile-content {
    position: absolute;
    left: 25%;
    width: 70%;
    margin-left: 1%;
    height: calc(100% - 3.25rem);
}

#profileAvatar {
    border: 1em solid #0099ff;
}

#profileAvatarContainer {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

#profileStats {
    margin-top: 10%;
    height: 25%;
    width: 100%;
    background: #0099ff;
    color: white;
    padding-left: 30%;
    padding-top: 10%;
    text-align: initial;
}

#mutualFriends {
    padding-top: 1em;
    color: white;
}

#loading {
    width: 3em;
    height: 3em;
    margin-left: 45%;
    margin-right: 50%;
}

textarea {
    margin-top: 1em;
    max-width: 100%;
    min-width: 100%;
    min-height: 5em;
    max-height: 5em;
    padding: 1em;
    outline: 0;
}

