/**
    Author: William Qi
    Licence: MIT
    
    Made this because I'm going to be reusing CSS alot. lmao
    Named it pizza.css because it sounds cool. But not really. Maybe it was because I was hungry?

*/

@font-face {
    font-family: "Tomcat";
    src: url("../fonts/TOMCAT.otf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

html, body {
    height: 100%;
    padding: 0;
    width: 100%;
    min-width: 1080px;
    margin: 0;
    font-family: Roboto;
}

.one-third {
    min-width: 33.3%;
    display: inline-block;
    vertical-align: top;
}

.one-quarter {
    min-width: 25%;
    display: inline-block;
    vertical-align: top;
}

.three-quarters {
    min-width: 75%;
    display: inline-block;
    vertical-align: top;
}

.one-fifth {
    min-width: 20%;
    display: inline-block;
    vertical-align: top;
}

.half {
    min-width: 50%;
    display: inline-block;
    vertical-align: top;
}

.seven-tenths {
    min-width: 70%;
    display: inline-block;
    vertical-align: top;
}

.box {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    border: 0.3px solid black;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    min-width: 10em;
    margin: 1em;
}

.box hr {
    outline: none;
    border-top: #00000005;
}

.notification {
    border-radius: 0;
    border: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 1em;
}

.notification.is-red, .nav.is-red {
    background: #ff3860;
    color: white;
}

.notification.is-green, .nav.is-green {
    background: #23d160;
    color: white;
}

.notification.is-blue, .nav.is-blue {
    background: #209cee;
    color: white;
}

.link {
    color: #209cee;
}

.link:hover {
    cursor: pointer;
}

.center {
    margin: auto;
}

.center-text {
    text-align: center;
}

.input {
    padding: 2%;
}

.input input[type="text"], .input input[type="password"], .input input[type="email"] {
    border-radius: 0.2em;
    border: 1px solid rgb(219, 219, 219);
    height: 1em;
    font-size: 100%;
    padding: 2%;
    text-align: center;
}

.input input[type="text"]:focus, .input input[type="password"]:focus, .input input[type="email"]:focus {
    outline: none;
    border: 1px solid #1c8cd6;
}

.input input[type="submit"] {
    min-width: 5em;
    height: 3em;
    color: white;
    background: #1f94e2;
    border: none;
    border-radius: 0.2em;
    font-size: 100%;
}

.input input[type="submit"]:hover {
    cursor: pointer;
}

.nav {
    height: 3.5em;
    width: 100%;
    min-width: 1080px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-left {
    float: left;
    display: inline-flex;
    height: 100%;
}

.nav-left a {
    font-size: 2em;
    text-shadow: #0000ff 0.5px 0.5px 0.5px;
}

.nav-left span {
    font-family: Tomcat;
}

.nav-right {
    float: right;
    display: inline-flex;
    height: 100%;
}

.nav a {
    /* I got the 2 lines below from https://stackoverflow.com/questions/14862604/html-css-center-text-horizontally-and-vertically-in-a-link as vertical-align was not working. */
    display: flex;
    align-items: center;

    color: white !important;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
}

.nav.is-blue a:hover {
    background: #1e90db;
}

.nav.is-blue a:active {
    color: white;
}

.tomcat {
    font-family: Tomcat;
}

.image-64x64 {
    width: 64px;
    height: 64px;
}

.image-128x128 {
    width: 10em;
    height: 10em;
}

.image {
    border-radius: 0.5em;
}

.post {
    margin-top: 0.5em;
    padding-bottom: 1em;
    width: 100%;
    margin-left: 1em;
    min-height: 5em;
}

.post .avatar {
    padding-top: 1em;
    float: left;
    margin-right: 1em;
}

.post .content {
    padding-top: 1em;
    padding-left: 1em;
    width: calc(90% - 64px);
    float: left;
}

.post .message-content {
    padding-top: 0.5em;
    padding-bottom: 1em;
    word-wrap: break-word;
    min-height: 0.1em;
}

.post .message-content p {
    text-overflow: ellipsis;
}

.post .commentsContainer {
    background: #e6e6e6;
    margin-top: 1em;
    margin-left: 1em;
    padding-bottom: 7em;
}

.post .commentsContainer .comments {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
}

.faded {
    opacity: 0.5;
    color: gray;
}

.loading {
    width: 3em;
    height: 3em;
    margin-left: 45%;
    margin-right: 50%;
}

.keep-right {
    float: right;
}

.keep-left {
    float: left;
}

a {
    text-decoration: none;
    height: 1em;
    color: #1c8cd6;
}

a:visited {
    color: #1c8cd6;
}

textarea {
    font-family: Roboto;
}