html, body {
    height: 100%;
    background: rgb(225, 225, 225);
}

.spacing-top {
    margin-top: .5em;
}

#content .box {
    margin-left: 2.5%;
    width: 95%;
}

.box {
    margin-top: 1em;
}

#friendRequestButton {
    width: 60%;
    height: 5%;
    margin-top: 10%;
}


#profileInfo {
    position: absolute;
    left: 0;
    display: inline-block;
    height: calc(100% - 3.25rem);
    width: 25%;
    background: #1b88d1;
    border-right: 1em solid #0377c5;
    text-align: center;
}

#content {
    position: absolute;
    left: 25%;
    width: 75%;
    height: calc(100% - 3.25rem);
}

#profileAvatar {
    border: 1em solid #0099ff;
}

#profileAvatarContainer {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

#profileStats {
    margin-top: 10%;
    height: 25%;
    width: 100%;
    background: #0099ff;
    color: white;
    padding-left: 30%;
    padding-top: 10%;
    text-align: initial;
}
